<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhidian.mappers.CssMapper">


	<insert id="addCss" parameterType="Css" keyColumn="id"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		css(website,version,path,createTime,descri)
		values(#{website},#{version},#{path},#{createTime},#{descri})
	</insert>


</mapper>
